<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    [v-cloak] {display: none;}
  </style>
  <title>category</title>
</head>
<body>
<div id="app" v-cloak>
  <div class="miro-layout-wrapper" :class="{sidebarHide: sidebarHide}">

    <miro-header @emit="onSidebar" icon></miro-header>

    <aside class="miro-sidebar">
      <ul class="sidebar-inner">
        <li v-for="item in categoryItem" @click="selectCategory(item.path)" :class="{active: item.path===currentPath}" :key="item.path">
          {{item.name}}
        </li>
      </ul>
    </aside>

    <main class="miro-layout-main" @click="sidebarHide = true">
      <!--<gamer-loading v-if="!category.allProduct"></gamer-loading>-->
      <div class="loading" v-if="!category.allProduct">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#i-loading"></use>
        </svg>
      </div>

      <router-view></router-view>

      <div class="scrollTop" v-if="scrollToTop" @click="toTop">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#i-top"></use>
        </svg>
      </div>
    </main>
  </div>
</div>
</body>
</html>
