$color: #2c3e50;
$border-color: #d1d3d6;
$duration: .3s;
$theme-color: #6fb46c;

.miro-layout-wrapper {

  .miro-navbar {
    padding: 10px 40px;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: white;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;

    .left-part .icon {
      display: none;
      margin-right: 10px;
      color: $theme-color;
      cursor: pointer;
    }
    .right-part .icon {
      font-size: 1.5em;
      vertical-align: bottom;
      cursor: pointer;
    }
  }

  .miro-sidebar {
    border-right: 1px solid $border-color;
    margin-top: 60px;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    background: white;
    transition: all $duration;

    .sidebar-inner {
      margin-top: 50px;

      li {
        font-weight: 600;
        margin-bottom: 20px;
        padding-left: 30px;
        cursor: pointer;

        &:hover {color: rgba(125, 194, 121, 0.92)}
        &.active {border-left: 5px solid $theme-color; transition: all }
      }
    }
  }

  .miro-layout-main {
    padding-left: 200px;
    padding-top: 60px;
    height: 200vh;
    transition: all $duration;
  }
}

@media (max-width: 720px) {
  .miro-layout-wrapper.toggle {
    .miro-sidebar {transform: translateX(-100%);transition: all $duration;}
  }
  .miro-layout-wrapper .miro-layout-main {padding-left: 0; transition: all $duration;}

}
