$color: #2c3e50;
$border-color: #d1d3d6;
$duration: .3s;
$theme-color: #6fb46c;

.cart-main {
  padding: 10px;
  border: 1px solid $border-color;
  width: 60vw;
  height: 100%;
  margin: 130px auto 100px auto;
  box-shadow: 2px 2px 2px $border-color;
  background: #F9F9F9;

  .bar{
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    padding-left: 20px;

    .link{
      display: inline-block;
      font-size: 1em;
      line-height: 3em;
      border-radius: 4px;
      margin:10px;

      &:hover{color: $theme-color;}
      &.active{color:$theme-color;}
    }

  }


}

@media (max-width: 780px) {
  .cart-main {width: 95vw; margin: 100px auto 100px auto;}
}
